P{
    color: white;
    background-color: #036;
    text-align: center;
    font-family: "Arial Narrow";
    font-size: 15pt;
    font-weight: bold;
}
body{
    background: #036;
}

button{
    color: black;
    background-color: white;
    text-align: center;
    font-family: "Arial Narrow";
    font-size: 15pt;
    font-weight: bold;
}